{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_field %}


{% block content %}
<h3 class="text-center my-4">Welcome back!</h3>
<form action="" method="post" novalidate>
  {{ form.hidden_tag() }}
  {{ render_field(form.username) }}
  {{ render_field(form.password) }}
  <div class="d-flex justify-content-between">
    {{ render_field(form.remember_me) }}
    <p>
      <a href="{{ url_for('reset_password_request') }}">Forgot Your Password?</a>
    </p>
  </div>
  <div class="d-grid">
    {{ render_field(form.submit) }}
  </div>
  <p class="text-center mt-3">Don't have an account? <a href="{{ url_for('register') }}">Register here</a></p>
</form>
{% endblock %}
